<nz-calendar [nzValue]="currentDate">
    <ul *nzDateCell="let date" class="events">
        <ng-container *ngIf="listDataMap[date.getDate()] as listData">
            <li *ngFor="let item of listData; trackBy: trackByIndex" (click)="openModal()">
                <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
            </li>
        </ng-container>
    </ul>
    <ng-container *nzMonthCell="let month">
        <ng-container *ngIf="getMonthData(month) as monthData">
            <div class="notes-month">
                <section>{{ monthData }}</section>
                <span>Backlog number</span>
            </div>
        </ng-container>
    </ng-container>
</nz-calendar>

<button nz-button nzType="primary" (click)="openModal()">Add Appointment</button>

<drawer #drawerComponent (newAppointment)="handleNewAppointment($event)"></drawer>