<!-- main-calendar.component.html -->
<nz-calendar [nzValue]="currentDate">
    <ul *nzDateCell="let date" class="events">
        <ng-container *ngIf="listDataMap[date.getDate()] as listData">
            <li *ngFor="let item of listData; trackBy: trackByIndex">
                <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
            </li>
        </ng-container>
    </ul>
    <ng-container *nzMonthCell="let month">
        <ng-container *ngIf="getMonthData(month) as monthData">
            <div class="notes-month">
                <section>{{ monthData }}</section>
                <span>Backlog number</span>
            </div>
        </ng-container>
    </ng-container>
</nz-calendar>
