:root {
    --black: #000000;
    --fade-black: rgba(0,0,0,0.7);
    --white: #F5F4F0;
    --darker-white: #D9D9D9;
    --green: #909C69;
    --brown: #9C6C4A;
    --orange: #FF9F2D;
    --darker-orange: #FA8334;
}