<div *ngFor="let appointment of appointments" class="appointment-item">
    <div class="bar-right" [ngClass]="{
        'bar-emergency': appointment.appointmentType === 'Emergency',
        'bar-daycare': appointment.appointmentType === 'Daycare',
        'bar-appointment': appointment.appointmentType === 'Appointment'
    }"></div>
    <div class="appointment-content">
        <p>{{ appointment.appointmentTime }} - {{ appointment.responsibleName }} ({{ appointment.petName }}) - {{ appointment.employee }}</p>
    </div>
</div>
