.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.side-content {
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;

    .secondary-calendar{
        display: flex;
        justify-content: center;
    }

    .appointments {
        height: 60%;
        border: 1px solid var(--darker-orange);
    }
}

.main-calendar {
    width: 70%;
    margin-left: 1rem;
}



